.n4o0o7gj{transform:scaleX(-1)}
.a1m9qzja{flex:1}
.kk3akd72{flex:none}
.e95mh68g{transform:translateX(12px)}
.aja0x350{text-decoration:none}
.swyb62mu{border-top:1px solid var(--border-list)}
.cc8mgx9x{border-top:0}
html:not([dir='rtl']) .eta5aym1{border-right:0}
html[dir='rtl'] .eta5aym1{border-left:0}
.d9802myq{border-bottom:0}
html:not([dir='rtl']) .e4xiuwjv{border-left:0}
html[dir='rtl'] .e4xiuwjv{border-right:0}
.rom324v9{border-top:1px solid var(--icon-disabled)}
html:not([dir='rtl']) .na7ur5ty{border-right:1px solid var(--icon-disabled)}
html[dir='rtl'] .na7ur5ty{border-left:1px solid var(--icon-disabled)}
.gjeyj30g{border-bottom:1px solid var(--icon-disabled)}
html:not([dir='rtl']) .bmro6pka{border-left:1px solid var(--icon-disabled)}
html[dir='rtl'] .bmro6pka{border-right:1px solid var(--icon-disabled)}
.btoh1681{border-top:2px solid var(--icon-disabled)}
html:not([dir='rtl']) .sngpozrj{border-right:2px solid var(--icon-disabled)}
html[dir='rtl'] .sngpozrj{border-left:2px solid var(--icon-disabled)}
.c2eze1zb{border-bottom:2px solid var(--icon-disabled)}
html:not([dir='rtl']) .bd2x2sk5{border-left:2px solid var(--icon-disabled)}
html[dir='rtl'] .bd2x2sk5{border-right:2px solid var(--icon-disabled)}
.daad4uqs{border-bottom:1px solid var(--border-default)}
.thn59n0e{border-bottom:none}
.hcpeg58q{border-top:1px solid var(--reactions-bubble-border)}
html:not([dir='rtl']) .p6ubcsnv{border-right:1px solid var(--reactions-bubble-border)}
html[dir='rtl'] .p6ubcsnv{border-left:1px solid var(--reactions-bubble-border)}
.avd5zzxf{border-bottom:1px solid var(--reactions-bubble-border)}
html:not([dir='rtl']) .qqik71jn{border-left:1px solid var(--reactions-bubble-border)}
html[dir='rtl'] .qqik71jn{border-right:1px solid var(--reactions-bubble-border)}
.ei53l81b{border-top:1px solid var(--border-bubble)}
.dl47i6rc{border-top:1px solid var(--border-stronger)}
.g0j88qvc{border-top:1px dashed var(--media-inner-border)}
.f804f6gw{display:block}
.l7jjieqr{display:inline-block}
.fewfhwl7{vertical-align:top}
.cvfxss4p{max-width:548px}
.tt8xd2xn{margin-top:0}
html:not([dir='rtl']) .k1jo73ug{margin-right:auto}
html[dir='rtl'] .k1jo73ug{margin-left:auto}
.njub1g37{margin-bottom:7px}
html:not([dir='rtl']) .isfiuinm{margin-left:auto}
html[dir='rtl'] .isfiuinm{margin-right:auto}
.cd4k6x8u{font-size:1.9375rem}
.ftkpq2g8{color:var(--voip-primary)}
.qfejxiq4{text-align:center}
.cw3vfol9{word-break:break-word}
.nuebz8o9{max-height:56px}
.twdsa9vy{line-height:1.1613}
.ih8khgda{max-height:60px}
.if71leqb{line-height:1.2903}
.fe5nidar{font-size:1.0625rem}
.fs7pz031{line-height:1.2941}
.c2gtku3m{color:rgba(var(--voip-primary-rgb),.7)}
html:not([dir='rtl']) .mhcwslh8{padding-left:6px}
html[dir='rtl'] .mhcwslh8{padding-right:6px}
.aft2yglh{color:var(--svg-secondary-color,var(--secondary))}
.jq3rn4u7{color:var(--teal)}
.p357zi0d{display:flex}
.ktfrpxia{min-width:0}
.nu7pwgvd{min-height:0}
.sap93d0t{flex-direction:row}
.f8m0rgwh{flex-direction:column}
.v76qf5v1{flex-direction:row-reverse}
.qzvtbs9h{flex-direction:column-reverse}
.fhf7t426{justify-content:flex-start}
.ac2vgrno{justify-content:center}
.kcgo1i74{justify-content:flex-end}
.o4u7okr9{justify-content:space-between}
.j1p1mz06{justify-content:space-around}
.s1e5xcja{justify-content:space-evenly}
.gndfcl4n{align-items:center}
.r15c9g6i{align-items:flex-start}
.r6jd426a{align-items:flex-end}
.elxb2u3l{align-items:stretch}
.e4eao3g2{align-items:baseline}
.lkhkxwyq{flex-wrap:wrap}
.ns59xd2u{flex-wrap:wrap-reverse}
.tvf2evcx{flex-grow:0}
.m0h2a7mj{flex-shrink:1}
.lb5m6g5c{flex-basis:auto}
.j7l1k36l{order:0}
.gjuq5ydh{align-self:auto}
.ex3gcxaf{align-self:flex-start}
.o2es7gts{align-self:center}
.rwlvdxyg{align-self:flex-end}
.l33m68ws{align-self:stretch}
html:not([dir='rtl']) .g9p5wyxn{border-top-left-radius:50%}
html[dir='rtl'] .g9p5wyxn{border-top-right-radius:50%}
html:not([dir='rtl']) .i0tg5vk9{border-top-right-radius:50%}
html[dir='rtl'] .i0tg5vk9{border-top-left-radius:50%}
html:not([dir='rtl']) .aoogvgrq{border-bottom-right-radius:50%}
html[dir='rtl'] .aoogvgrq{border-bottom-left-radius:50%}
html:not([dir='rtl']) .o2zu3hjb{border-bottom-left-radius:50%}
html[dir='rtl'] .o2zu3hjb{border-bottom-right-radius:50%}
html:not([dir='rtl']) .iffbo4e8{padding-right:20px}
html[dir='rtl'] .iffbo4e8{padding-left:20px}
.ag5g9lrv{overflow-y:auto}
.emrlamx0{padding-top:10px}
html:not([dir='rtl']) .bcymb0na{padding-right:30px}
html[dir='rtl'] .bcymb0na{padding-left:30px}
.aiput80m{padding-bottom:10px}
html:not([dir='rtl']) .e8k79tju{padding-left:30px}
html[dir='rtl'] .e8k79tju{padding-right:30px}
.amaavye1{background-color:var(--background-default-hover)}
html:not([dir='rtl']) .f9ovudaz{padding-right:0}
html[dir='rtl'] .f9ovudaz{padding-left:0}
html:not([dir='rtl']) .gx1rr48f{padding-left:0}
html[dir='rtl'] .gx1rr48f{padding-right:0}
html:not([dir='rtl']) .itegkywt{padding-right:10px}
html[dir='rtl'] .itegkywt{padding-left:10px}
html:not([dir='rtl']) .rppts313{padding-left:10px}
html[dir='rtl'] .rppts313{padding-right:10px}
.lkjmyc96{background-color:var(--drawer-section-background)}
html:not([dir='rtl']) .jnwc1y2a{margin-right:0}
html[dir='rtl'] .jnwc1y2a{margin-left:0}
.mpdn4nr2{margin-bottom:0}
html:not([dir='rtl']) .svoq16ka{margin-left:0}
html[dir='rtl'] .svoq16ka{margin-right:0}
html:not([dir='rtl']) .dl2ettod{margin-left:32px}
html[dir='rtl'] .dl2ettod{margin-right:32px}
.ajgl1lbb{cursor:pointer}
.pxvlsfnc{padding-top:15px}
.n3bptxsn{padding-bottom:15px}
.lhggkp7q{position:absolute}
.r8dd7jr1{top:8px}
html:not([dir='rtl']) .ohq8n1fk{right:12px}
html[dir='rtl'] .ohq8n1fk{left:12px}
.mb8var44{z-index:100}
.jgz0asyo{top:6px}
html:not([dir='rtl']) .b4u6kxhc{right:6px}
html[dir='rtl'] .b4u6kxhc{left:6px}
.gire0wgi{position:static}
.a70a3vn1{top:14px}
html:not([dir='rtl']) .h223g3sc{right:20px}
html[dir='rtl'] .h223g3sc{left:20px}
html:not([dir='rtl']) .htg54gjl{padding-right:31px}
html[dir='rtl'] .htg54gjl{padding-left:31px}
.s4k44ver{color:var(--icon-lighter)}
.ggj6brxn{flex-grow:1}
.tviruh8d{color:var(--primary)}
.cs9t9or5{color:var(--icon-fixed)}
.grt5ktjy{right:0}
.gtscxtjd{color:inherit}
html:not([dir='rtl']) .kjemk6od{margin-right:3px}
html[dir='rtl'] .kjemk6od{margin-left:3px}
html:not([dir='rtl']) .p3lsiedt{margin-left:5px}
html[dir='rtl'] .p3lsiedt{margin-right:5px}
.i5tg98hk{padding-top:0}
.przvwfww{padding-bottom:0}
.shdiholb{font-family:inherit}
.phqmzxqs{font-size:100%}
.thr4l2wc{background-color:transparent}
html:not([dir='rtl']) .dntxsmpk{border-top-left-radius:2px}
html[dir='rtl'] .dntxsmpk{border-top-right-radius:2px}
html:not([dir='rtl']) .ixn6u0rb{border-top-right-radius:2px}
html[dir='rtl'] .ixn6u0rb{border-top-left-radius:2px}
html:not([dir='rtl']) .s2vc4xk1{border-bottom-right-radius:2px}
html[dir='rtl'] .s2vc4xk1{border-bottom-left-radius:2px}
html:not([dir='rtl']) .o0wkt7aw{border-bottom-left-radius:2px}
html[dir='rtl'] .o0wkt7aw{border-bottom-right-radius:2px}
.lgxs6e1q{--T68779821:0 0 0 2px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 2px rgba(var(--focus-rgb),.5)}
.rcg4vxlo{cursor:inherit}
.jxacihee{bottom:0}
.ppypbuwx{padding-top:2px}
html:not([dir='rtl']) .nu34rnf1{padding-left:8px}
html[dir='rtl'] .nu34rnf1{padding-right:8px}
.idmi9oma{background-color:rgba(var(--background-default-rgb),.95)}
html:not([dir='rtl']) .ho9ovbg7{border-top-left-radius:4px}
html[dir='rtl'] .ho9ovbg7{border-top-right-radius:4px}
html:not([dir='rtl']) .tcg15ap9{border-top-right-radius:4px}
html[dir='rtl'] .tcg15ap9{border-top-left-radius:4px}
html:not([dir='rtl']) .c5wy1lv0{border-bottom-right-radius:4px}
html[dir='rtl'] .c5wy1lv0{border-bottom-left-radius:4px}
html:not([dir='rtl']) .bqysl6j9{border-bottom-left-radius:4px}
html[dir='rtl'] .bqysl6j9{border-bottom-right-radius:4px}
.a95fzlb5{--T68779821:0 0 32px rgba(var(--background-default-rgb),.95);box-shadow:0 0 32px rgba(var(--background-default-rgb),.95)}
.kojwoqec{visibility:hidden}
.kqpkm0zi{visibility:hidden!important}
.lxctpz5v{opacity:0!important}
.gaujl5hk{padding-top:14px}
.p9a4hubg{padding-bottom:14px}
.epwkujcx{height:36px}
html:not([dir='rtl']) .nzcjdldu{margin-left:16px}
html[dir='rtl'] .nzcjdldu{margin-right:16px}
.g0rxnol2{position:relative}
.cm280p3y{box-sizing:border-box}
.cnprk2g9{width:112px}
.j74n1y92{height:112px}
.n1yiu2zv{padding-top:6px}
.t63vcusb{color:var(--security-icon-shield)}
.je90h8md{background-color:var(--security-icon-background)}
html:not([dir='rtl']) .tkdu00h0{left:0}
html[dir='rtl'] .tkdu00h0{right:0}
html:not([dir='rtl']) .ebjesfe0{right:0}
html[dir='rtl'] .ebjesfe0{left:0}
.qq0sjtgm{top:0}
.lrw9n60e{bottom:3px}
.ml33x45x{color:var(--security-icon-lock)}
.sq87qsu4{padding-bottom:26px}
.ignnouf6{margin-top:28px}
.aiwu9bi8{opacity:.38}
.sai7fuui{height:32px}
html:not([dir='rtl']) .claouzo6{margin-right:6px}
html[dir='rtl'] .claouzo6{margin-left:6px}
.neme6l2y{vertical-align:middle}
.t4zgqcuo{margin-bottom:12px}
html:not([dir='rtl']) .sxdjimme{left:12px}
html[dir='rtl'] .sxdjimme{right:12px}
.ba95y10t{top:19px}
html:not([dir='rtl']) .guo0zu0m{left:28px}
html[dir='rtl'] .guo0zu0m{right:28px}
.c46o30wg{margin-top:20px}
html:not([dir='rtl']) .bugiwsl0{margin-right:8px}
html[dir='rtl'] .bugiwsl0{margin-left:8px}
html:not([dir='rtl']) .eab7llgz{margin-left:2%}
html[dir='rtl'] .eab7llgz{margin-right:2%}
.svlsagor{color:var(--icon)}
.h2qzpyga{cursor:not-allowed}
.notw83rv{opacity:.25}
.szxvsnty{background-color:#00897b}
html:not([dir='rtl']) .boajuire{border-top-left-radius:3px}
html[dir='rtl'] .boajuire{border-top-right-radius:3px}
html:not([dir='rtl']) .o93wvyfv{border-top-right-radius:3px}
html[dir='rtl'] .o93wvyfv{border-top-left-radius:3px}
html:not([dir='rtl']) .i5w8n1e6{border-bottom-right-radius:3px}
html[dir='rtl'] .i5w8n1e6{border-bottom-left-radius:3px}
html:not([dir='rtl']) .cnpay6qi{border-bottom-left-radius:3px}
html[dir='rtl'] .cnpay6qi{border-bottom-right-radius:3px}
.octy2vkd{color:white}
.dsh4tgtl{font-size:0.75rem}
.iy2cu22y{margin-top:12px}
.eujn52yf{padding-top:4px}
html:not([dir='rtl']) .abxuf49s{padding-right:6px}
html[dir='rtl'] .abxuf49s{padding-left:6px}
.ckm995li{padding-bottom:4px}
.ofejerhi{text-transform:uppercase}
.p9fp32ui{font-size:1.25rem}
.ptxfukc7{height:124px}
.hp5m5kpu{width:200px}
.d0st09ow{width:29%}
.bbl9m3t3{height:0}
.aus7m8kn{padding-bottom:32%}
.or9x5nie{margin-bottom:8px}
html:not([dir='rtl']) .l147y7tb{border-top-left-radius:6px}
html[dir='rtl'] .l147y7tb{border-top-right-radius:6px}
html:not([dir='rtl']) .mjscftrx{border-top-right-radius:6px}
html[dir='rtl'] .mjscftrx{border-top-left-radius:6px}
html:not([dir='rtl']) .fqwk616h{border-bottom-right-radius:6px}
html[dir='rtl'] .fqwk616h{border-bottom-left-radius:6px}
html:not([dir='rtl']) .pkud3j3x{border-bottom-left-radius:6px}
html[dir='rtl'] .pkud3j3x{border-bottom-right-radius:6px}
.b8z6cu80{width:31%}
.qrsyb3yy{margin-bottom:3%}
.fujac5jc{height:106px}
.lxvt2vq0{padding-bottom:33%}
.o27ac25e{background-color:var(--product-placeholder-background)}
html:not([dir='rtl']) .q471nw87{margin-right:5px}
html[dir='rtl'] .q471nw87{margin-left:5px}
.f8jlpxt4{font-size:0.875rem}
.sbs3osm6{color:var(--primary-muted)}
.o22r6p4i{width:76px}
.dng4fqht{height:76px}
.fbgy3m38{padding-top:8px}
.oq31bsqd{padding-bottom:8px}
.gz7w46tb{line-height:1}
.g1eqewly{margin-top:3px}
.kzyzudjh{margin-bottom:3px}
.c2jc77nu{white-space:initial}
.jgi8eev7{line-height:1.4}
.nylzjxre{margin-top:30px}
html:not([dir='rtl']) .lfum0007{margin-right:30px}
html[dir='rtl'] .lfum0007{margin-left:30px}
.bvhm1occ{margin-bottom:30px}
html:not([dir='rtl']) .r6x3u63k{margin-left:30px}
html[dir='rtl'] .r6x3u63k{margin-right:30px}
.bc38n4nm{color:var(--cart-interstitial-icon)}
.du8bjn1j{margin-bottom:20px}
.a4ywakfo{line-height:1.5}
.bibl1e27{margin-bottom:28px}
.lyrceosr{margin-right:8px}
.bze30y65{font-size:0.9375rem}
.hda1bzzh{color:var(--c-text-medium-emphasis)}
.i4pc7asj{padding-top:17px}
.myel2vfb{padding-bottom:19px}
html:not([dir='rtl']) .dl6j7rsh{margin-right:-30px}
html[dir='rtl'] .dl6j7rsh{margin-left:-30px}
html:not([dir='rtl']) .avk8rzj1{margin-left:-30px}
html[dir='rtl'] .avk8rzj1{margin-right:-30px}
.g4oj0cdv{min-height:20px}
.gfz4du6o{overflow-x:hidden}
.r7fjleex{overflow-y:hidden}
.hp667wtd{color:var(--secondary-lighter)}
.lhj4utae{text-overflow:ellipsis}
.le5p0ye3{white-space:nowrap}
.oq44ahr5{flex-shrink:0}
.b9l0eqez{margin-top:1px}
html:not([dir='rtl']) .k6y3xtnu{margin-left:3px}
html[dir='rtl'] .k6y3xtnu{margin-right:3px}
.pz0xruzv{margin-bottom:15px}
.qt60bha0{margin-top:4px}
.a4rz4n5c{margin-top:14px}
.inww9tbj{margin-bottom:4px}
html:not([dir='rtl']) .gqi0zhd6{margin-right:16px}
html[dir='rtl'] .gqi0zhd6{margin-left:16px}
.nlnf8xo7{padding-top:20px}
.r219jyu0{padding-bottom:20px}
.bbv8nyr4{white-space:pre-wrap}
.sy4xt5vv{margin-top:-5px}
.ma4rpf0l{margin-top:-2px}
.gv5tqytl{margin-bottom:13px}
.hymafltn{margin-top:5px}
.ngycyvoj{margin-bottom:6px}
.ln8gz9je{width:100%}
html:not([dir='rtl']) .ljrqcn24{text-align:left}
html[dir='rtl'] .ljrqcn24{text-align:right}
.brac1wpa{margin-bottom:10px}
.qssinsw9{width:40px}
.jswlwoyz{width:30px}
.r5qsrrlp{line-height:20px}
.ml4r5409{text-align:left}
.bcr6az0x{font-weight:300}
.g2xi8p6r{line-height:18px}
.px10qoeu{z-index:200}
.n8sohn9f{max-width:125px}
.qpocut9d{left:8px}
.kpdgp91a{float:left}
.bfbxj8tr{right:8px}
.faxx4fbg{float:right}
.hsombceh{bottom:10px}
.i86elurf{display:inline-flex}
.tknnhhou{width:32px}
.jdwybkuq{height:20px}
.m0s4cjtr{width:20px}
html:not([dir='rtl']) .ikqdvm1y{border-top-left-radius:10px}
html[dir='rtl'] .ikqdvm1y{border-top-right-radius:10px}
html:not([dir='rtl']) .m3qqxsiz{border-top-right-radius:10px}
html[dir='rtl'] .m3qqxsiz{border-top-left-radius:10px}
html:not([dir='rtl']) .r1ncx0sg{border-bottom-right-radius:10px}
html[dir='rtl'] .r1ncx0sg{border-bottom-left-radius:10px}
html:not([dir='rtl']) .mmj7r7ye{border-bottom-left-radius:10px}
html[dir='rtl'] .mmj7r7ye{border-bottom-right-radius:10px}
.lbj9vhti{background-color:var(--switch-button-color)}
.tukmaf4q{left:0}
.bo8jc6qi{transition-property:transform}
.nbciif1m{transition-duration:.15s}
.oa9ii99z{transition-timing-function:cubic-bezier(.4,0,.2,1)}
html:not([dir='rtl']) .hjje1qk3{--T68779821:0 1px 1px rgba(var(--shadow-rgb),.14),0 2px 1px rgba(var(--shadow-rgb),.12),0 1px 3px rgba(var(--shadow-rgb),.2);box-shadow:0 1px 1px rgba(var(--shadow-rgb),.14),0 2px 1px rgba(var(--shadow-rgb),.12),0 1px 3px rgba(var(--shadow-rgb),.2);}
html[dir='rtl'] .hjje1qk3{--T68779821:0 1px 1px rgba(var(--shadow-rgb),.14), 0 2px 1px rgba(var(--shadow-rgb),.12), 0 1px 3px rgba(var(--shadow-rgb),.2);box-shadow:0 1px 1px rgba(var(--shadow-rgb),.14), 0 2px 1px rgba(var(--shadow-rgb),.12), 0 1px 3px rgba(var(--shadow-rgb),.2);}
.my8w5w2u{background-color:var(--switch-button-checked-color)}
.r6unq4of{--T68779821:0 0 0 3px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 3px rgba(var(--focus-rgb),.5)}
.icj6mcig{height:14px}
.masnrobp{background-color:var(--switch-track-color)}
html:not([dir='rtl']) .i3rsbmdh{border-top-left-radius:7px}
html[dir='rtl'] .i3rsbmdh{border-top-right-radius:7px}
html:not([dir='rtl']) .d6h2ibm4{border-top-right-radius:7px}
html[dir='rtl'] .d6h2ibm4{border-top-left-radius:7px}
html:not([dir='rtl']) .rh5xaqwm{border-bottom-right-radius:7px}
html[dir='rtl'] .rh5xaqwm{border-bottom-left-radius:7px}
html:not([dir='rtl']) .e6tbvuqx{border-bottom-left-radius:7px}
html[dir='rtl'] .e6tbvuqx{border-bottom-right-radius:7px}
.hza3nq4c{background-color:var(--switch-track-checked-color)}
.cxec7x23{width:1px}
.kanlod6e{height:1px}
.nmeg1xfo{clip:rect(0 0 0 0)}
.okm7a8wg{-webkit-clip-path:inset(50%);clip-path:inset(50%)}
html:not([dir='rtl']) .bsg2wrd4{margin-right:-20px}
html[dir='rtl'] .bsg2wrd4{margin-left:-20px}
html:not([dir='rtl']) .f459d30t{margin-left:-20px}
html[dir='rtl'] .f459d30t{margin-right:-20px}
.q1n4p668{height:56px}
html:not([dir='rtl']) .ddw6s8x9{padding-left:17px}
html[dir='rtl'] .ddw6s8x9{padding-right:17px}
.pm5hny62{color:var(--secondary)}
.fujhy7ri{width:68px}
.opp68qpq{margin-top:10px}
.ovllcyds{font-size:0.8125rem}
.ge6flnsz{opacity:.45}
.lxozqee9{color:var(--status-primary)}
.qddwjlxl{margin-left:5px}
.jzp2c175{padding-bottom:40px}
.bmot90v7{height:24px}
.qbqilfqo{padding-top:1px}
.a15vwmim{padding-bottom:1px}
html:not([dir='rtl']) .r18xjin9{border-top-left-radius:50px}
html[dir='rtl'] .r18xjin9{border-top-right-radius:50px}
html:not([dir='rtl']) .pz6oj2k2{border-top-right-radius:50px}
html[dir='rtl'] .pz6oj2k2{border-top-left-radius:50px}
html:not([dir='rtl']) .sa2xs5zj{border-bottom-right-radius:50px}
html[dir='rtl'] .sa2xs5zj{border-bottom-left-radius:50px}
html:not([dir='rtl']) .n58sa971{border-bottom-left-radius:50px}
html[dir='rtl'] .n58sa971{border-bottom-right-radius:50px}
.jht8oeb6{background-color:var(--incoming-background)}
html:not([dir='rtl']) .fahkg6u0{box-shadow:0 1px 0 rgba(0,0,0,.07),0 0 3px rgba(0,0,0,.04)}
html[dir='rtl'] .fahkg6u0{box-shadow:0 1px 0 rgba(0,0,0,.07), 0 0 3px rgba(0,0,0,.04)}
.enbbiyaj{font-size:1rem}
html:not([dir='rtl']) .oz0g9ue8{margin-left:6px}
html[dir='rtl'] .oz0g9ue8{margin-right:6px}
.ce5kru2g{color:var(--reactions-bubble-counter)}
.tffp5ko5{text-align:inherit}
html:not([dir='rtl']) .l8fojup5{border-top-left-radius:var(--radius-thumb)}
html[dir='rtl'] .l8fojup5{border-top-right-radius:var(--radius-thumb)}
html:not([dir='rtl']) .paxyh2gw{border-top-right-radius:var(--radius-thumb)}
html[dir='rtl'] .paxyh2gw{border-top-left-radius:var(--radius-thumb)}
.g3ewzqzm{top:-2px}
html:not([dir='rtl']) .spjzgwxb{margin-right:10px}
html[dir='rtl'] .spjzgwxb{margin-left:10px}
html:not([dir='rtl']) .a3oefunm{margin-left:10px}
html[dir='rtl'] .a3oefunm{margin-right:10px}
.cb8ormfa{text-align:right}
.o9i7y497{margin-top:-1px}
.jbxl65f1{height:34px}
.lqdozo90{padding-top:13px}
html:not([dir='rtl']) .igb3k0ri{padding-right:19px}
html[dir='rtl'] .igb3k0ri{padding-left:19px}
.bavixdlz{padding-bottom:13px}
html:not([dir='rtl']) .nntdgyy8{padding-left:19px}
html[dir='rtl'] .nntdgyy8{padding-right:19px}
.hnx8ox4h{font-weight:500}
.jnl3jror{z-index:1}
.f4q7vbcz{max-width:336px}
.ocd2b0bc{padding-top:3px}
.bxcbqipq{padding-bottom:5px}
.laorhtua{max-width:100%}
.esbfogcw{padding-top:7px}
.o0rubyzf{color:var(--link)}
.dj1c3cmq{margin-top:8px}
html:not([dir='rtl']) .fooq7fky{margin-left:8px}
html[dir='rtl'] .fooq7fky{margin-right:8px}
.q6wg26sa{line-height:1.3}
.pgz13gmm{bottom:-4px}
.ryab0j1q{right:auto}
html:not([dir='rtl']) .mw4yctpw{margin-right:4px}
html[dir='rtl'] .mw4yctpw{margin-left:4px}
.a6r0u4sv{color:rgba(var(--primary-strong-rgb),.35)}
.llkbrke6{min-width:100%}
.smoo1fur{height:54px}
.mymavskd{color:rgba(var(--primary-strong-rgb),.55)}
.ruh8h8mp{max-height:54px}
html:not([dir='rtl']) .btzf6ewn{padding-right:12px}
html[dir='rtl'] .btzf6ewn{padding-left:12px}
html:not([dir='rtl']) .nqtxkp62{padding-left:12px}
html[dir='rtl'] .nqtxkp62{padding-right:12px}
.nuiuantz{color:var(--chip-button-foreground)}
.jvy3y6qh{background-color:var(--chip-button-background)}
html:not([dir='rtl']) .g130k69c{border-top-left-radius:20px}
html[dir='rtl'] .g130k69c{border-top-right-radius:20px}
html:not([dir='rtl']) .k1a7joe8{border-top-right-radius:20px}
html[dir='rtl'] .k1a7joe8{border-top-left-radius:20px}
html:not([dir='rtl']) .dc5qina8{border-bottom-right-radius:20px}
html[dir='rtl'] .dc5qina8{border-bottom-left-radius:20px}
html:not([dir='rtl']) .kfr1vweg{border-bottom-left-radius:20px}
html[dir='rtl'] .kfr1vweg{border-bottom-right-radius:20px}
html:not([dir='rtl']) .fif0zr45{padding-left:36px!important}
html[dir='rtl'] .fif0zr45{padding-right:36px!important}
html:not([dir='rtl']) .ig3h26t1{padding-right:36px!important}
html[dir='rtl'] .ig3h26t1{padding-left:36px!important}
.rsmgdaqi{right:5px}
.mvf5n2qr{top:5px}
html:not([dir='rtl']) .jfqm35v0{padding-right:4px}
html[dir='rtl'] .jfqm35v0{padding-left:4px}
html:not([dir='rtl']) .bdbt56hn{padding-left:4px}
html[dir='rtl'] .bdbt56hn{padding-right:4px}
.lidbxt4q{left:5px}
html:not([dir='rtl']) .iqx13udk{padding-right:1px}
html[dir='rtl'] .iqx13udk{padding-left:1px}
html:not([dir='rtl']) .qiohso4h{padding-left:1px}
html[dir='rtl'] .qiohso4h{padding-right:1px}
.b7n2qyd4{padding-top:12px}
.s8gyl5p1{padding-bottom:2px}
html:not([dir='rtl']) .khscay3k{padding-left:20px}
html[dir='rtl'] .khscay3k{padding-right:20px}
.sjyhwr5o{background-color:none}
.r7yn1a4o{min-width:18px}
html:not([dir='rtl']) .l9g3jx6n{padding-right:16px}
html[dir='rtl'] .l9g3jx6n{padding-left:16px}
.hdpg1tjz{top:-1px}
html:not([dir='rtl']) .ltcz4qz9{right:-1px}
html[dir='rtl'] .ltcz4qz9{left:-1px}
.k17s6i4e{color:var(--inverse)}
.rhe1kc9j{filter:drop-shadow(-1px 1px 1px rgba(0,0,0,.5))}
.jkv2xdwy{width:128px}
.sptw4ec9{height:131px}
.lak21jic{font-size:0.6875rem}
.hql59cr1{letter-spacing:-0.2px}
html:not([dir='rtl']) .bi2mdrpt{border-top-left-radius:0}
html[dir='rtl'] .bi2mdrpt{border-top-right-radius:0}
html:not([dir='rtl']) .hsk1pqkj{border-top-right-radius:0}
html[dir='rtl'] .hsk1pqkj{border-top-left-radius:0}
html:not([dir='rtl']) .a0vc5f8u{border-bottom-left-radius:0}
html[dir='rtl'] .a0vc5f8u{border-bottom-right-radius:0}
html:not([dir='rtl']) .e3yfz9gx{border-bottom-right-radius:0}
html[dir='rtl'] .e3yfz9gx{border-bottom-left-radius:0}
html:not([dir='rtl']) .sfeitywo{border-bottom-right-radius:var(--radius-thumb)}
html[dir='rtl'] .sfeitywo{border-bottom-left-radius:var(--radius-thumb)}
html:not([dir='rtl']) .cqsf3vkf{border-bottom-left-radius:var(--radius-thumb)}
html[dir='rtl'] .cqsf3vkf{border-bottom-right-radius:var(--radius-thumb)}
.rol4brr3{--T68779821:inset 0 0 0 1px var(--border-deeper);box-shadow:inset 0 0 0 1px var(--border-deeper)}
.rrq4r3yd{background-color:var(--incoming-background-deeper)}
.s0eflmyh{background-color:var(--outgoing-background-deeper)}
.nwuq7i8t{width:336px}
.iin4x6c7{margin-top:6px}
.t6kbzwdk{padding-left:9px}
.thbdkvv5{padding-right:7px}
.aliwjmjd{margin-top:-8px}
.bk1nl7o2{flex-grow:4}
.fbr0s4ao{margin-right:6px}
html:not([dir='rtl']) .ft2m32mm{padding-right:8px}
html[dir='rtl'] .ft2m32mm{padding-left:8px}
.ekpn4oxx{padding-bottom:12px}
.nlxcpvin{letter-spacing:1.5px}
.lniyxyh2{height:40px}
.ibyb1pgl{max-height:100%}
.t3g6t33p{background-position:center}
.qnwaluaf{background-size:cover}
.eb4rp10x{padding-bottom:6px}
.kiiy14zj{margin-top:2px}
.fd365im1{overflow-wrap:break-word}
.if44n927{margin-top:-3px}
html:not([dir='rtl']) .isg5rw3j{margin-right:-4px}
html[dir='rtl'] .isg5rw3j{margin-left:-4px}
html:not([dir='rtl']) .heai6z19{margin-left:-6px}
html[dir='rtl'] .heai6z19{margin-right:-6px}
.sgifyl94{width:90px}
.pydpkpus{height:90px}
.jpthtbts{object-fit:cover}
html:not([dir='rtl']) .i8go5xc4{padding-right:9px}
html[dir='rtl'] .i8go5xc4{padding-left:9px}
html:not([dir='rtl']) .e1yunedv{padding-left:9px}
html[dir='rtl'] .e1yunedv{padding-right:9px}
.o0vrdr7e{max-height:90px}
.nkmjymgc:before{background:var(--icon)}
.k95pjfv1:before{transform:translate(-50%,-50%)}
.fji5f4ri:after{background:var(--icon)}
.cai600lj:after{transform:translate(-50%,-50%)}
.bsbo06yw::before{transform:translate(-50%,-50%)}
.n2obx7p9::after{transform:translate(-50%,-50%)}
.oxaw94s0:before{position:absolute}
.ijeufx4s:before{top:50%}
html:not([dir='rtl']) .meq75apj:before{left:50%}
html[dir='rtl'] .meq75apj:before{right:50%}
.oa3lyrek:before{display:block}
.slvs4faj:before{width:20px}
.jaq0b63r:before{height:3px}
.lij4d1x3:before{content:""}
.dkvli2l0:after{position:absolute}
.qi2a0yje:after{top:50%}
html:not([dir='rtl']) .bunkm0yn:after{left:50%}
html[dir='rtl'] .bunkm0yn:after{right:50%}
.b0f5vxaq:after{display:block}
.qbfuvgfc:after{width:3px}
.i0r7mfoh:after{height:20px}
.k15o3o4i:after{content:""}
.jiaumjzp::before{position:absolute}
.iu8zqbur::before{top:50%}
.c4kjmepz::before{left:50%}
.chh99fau::before{display:block}
.ln1ej6zg::before{width:20px}
.i0a739jv::before{height:3px}
.ckfn5qle::before{content:""}
.t4c1fkc8::before{background-color:var(--icon)}
.tkubpkrc::after{position:absolute}
.khfyavfg::after{top:50%}
.nly7wueh::after{left:50%}
.l1wvjj35::after{display:block}
.dbiwaw4z::after{width:3px}
.l9a7srmz::after{height:20px}
.lw9p9708::after{content:""}
.sadoqatt::after{background-color:var(--icon)}
html:not([dir='rtl']) @media (min-width: 1300px){.hfp8519b.hfp8519b{margin-left:-10px}}
html[dir='rtl'] @media (min-width: 1300px){.hfp8519b.hfp8519b{margin-right:-10px}}
html:not([dir='rtl']) @media (min-width: 1300px){.acdu7ris.acdu7ris{margin-right:-10px}}
html[dir='rtl'] @media (min-width: 1300px){.acdu7ris.acdu7ris{margin-left:-10px}}
.o69d8n2f:hover{text-decoration:none}
.os03hap6:hover{background-color:var(--background-default-hover)}
.esbo3we0:focus{--T68779821:0 0 0 2px rgba(var(--focus-rgb),.5);box-shadow:0 0 0 2px rgba(var(--focus-rgb),.5)}
html:not([dir='rtl']) .mmjxyicr:focus{border-top-left-radius:2px}
html[dir='rtl'] .mmjxyicr:focus{border-top-right-radius:2px}
html:not([dir='rtl']) .r1jx4bdh:focus{border-top-right-radius:2px}
html[dir='rtl'] .r1jx4bdh:focus{border-top-left-radius:2px}
html:not([dir='rtl']) .f9yclydc:focus{border-bottom-right-radius:2px}
html[dir='rtl'] .f9yclydc:focus{border-bottom-left-radius:2px}
html:not([dir='rtl']) .mtzt60z0:focus{border-bottom-left-radius:2px}
html[dir='rtl'] .mtzt60z0:focus{border-bottom-right-radius:2px}